{% extends "base.html" %}
{% block content %}
<div style="margin-left:15%;margin-right:15%">
  <h1>Following</h1>
  {% for follower in following %}
    <div class="userDiv">
      <div class="userHeader">
        <a href="{{ "/users/" ~ follower.username ~ "/" }}">
          <div>
            <div style="display: inline-block;vertical-align: middle;">
              <img src="{{follower.user_img_url}}" width="30" height="30" alt="userPhoto">
            </div>
            <b style="display: inline-block;vertical-align: middle;">{{follower.username}}</b>
          </div>
        </a>
        {% if follower.username == logname %}  
        {% elif follower.logname_follows_username %}
          <span>following</span>
          <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
          <form action="{{url_for('operate_following')}}?target={{ "/users/" ~ username ~ "/following/" }}" method="post" enctype="multipart/form-data">
            <input type="submit" name="unfollow" value="unfollow"/>
            <input type="hidden" name="username" value="{{follower.username}}"/>
            <input type="hidden" name="operation" value="unfollow"/>
          </form>
        {% else %}
          <span>following</span>
          <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
          <form action="{{url_for('operate_following')}}?target={{ "/users/" ~ username ~ "/following/" }}" method="post" enctype="multipart/form-data">
            <input type="submit" name="follow" value="follow"/>
            <input type="hidden" name="username" value="{{follower.username}}"/>
            <input type="hidden" name="operation" value="follow"/>
          </form>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}