{% extends "base.html" %}
{% block content %}
<!-- DO NOT CHANGE THIS -->
<div style="margin-left:15%;margin-right:15%">
  <form action="/accounts/?target={{url_for('show_account_edit')}}" method="post" enctype="multipart/form-data">
    <p>Old password <input type="password" name="password" required/></p>
    <p>New password <input type="password" name="new_password1" required/></p>
    <p>New password, again <input type="password" name="new_password2" required/></p>
    <input type="submit" name="update_password" value="submit"/>
    <input type="hidden" name="operation" value="update_password"/>
  </form>
  <p><a href="{{url_for('show_account_edit')}}">Back to edit account</a></p>
</div>
{% endblock %}